body {
  max-width: 1000px;
  margin: auto;
  background: rgb(222, 220, 220);
}

div {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 250px 250px 65px 500px 550px 275px 275px 70px 300px;
  grid-template-areas:
    "top top top top top top header2 header2 header2 header2 header2 header2"
    "top top top top top top header3 header3 header3 header3 header3 header3"
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "main main main main main main loremipsum loremipsum loremipsum loremipsum loremipsum loremipsum"
    "about about about about about about about about about about about about"
    "box box box box box1 box1 box1 box1 box2 box2 box2 box2"
    "box3 box3 box3 box3 box4 box4 box4 box4 box5 box5 box5 box5"
    "buttonup buttonup buttonup buttonup buttonup buttonup buttonup buttonup buttonup buttonup buttonup buttonup"
    "extra extra extra extra extra extra extra extra extra extra extra extra";
}

/*style för header*/

.header {
  background: #c2deea;
  grid-area: top;
  position: relative;
  display: flex;
  justify-content: center;
}

.familyimage {
  width: 50%;
  position: absolute;
  right: 0.5rem;
  bottom: 0px;
}

.headercontent {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-top: 80px;
}

h1 {
  font-size: 40px;
  margin: 0; /*Här har jag ändrat till margin 0, obs kommer att ändra alla h1!*/
}

.pmain {
  font-family: "Fira Sans", sans-serif;
  color: rgb(58, 55, 55);
  font-size: 12px;
  font-weight: 600; /*la till font weight*/
  letter-spacing: -0.5px;
  line-height: 1.2rem; /* här har jag ändrat*/
  margin-top: 10px;
  margin-bottom: 0; /* här har jag ändrat*/
}

span {
  color: white; /*lagt till span för att få texten vit */
}

.button {
  background: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 9px; /*minskat font-size (gäller alla button)*/
  width: 100px;
  border-radius: 15px;
  margin-top: 40px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.header button {
  box-shadow: 0px 1px rgb(139, 163, 172);
}
.header2 {
  background: coral;
  grid-area: header2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question {
  font-size: 9px;
}

.header3 {
  background: orange;
  grid-area: header3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question2 {
  font-size: 9px;
}

h2 {
  font-size: 23px;
  color: white;
  margin-top: 0; /* lagt till margin-top & margin bottom */
  margin-bottom: 0;
}

/*slut på style för header*/

.nav {
  background: rgb(222, 220, 220);
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  color: grey;
}
a {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: grey;
  text-decoration-line: none;
}
a:hover {
  color: black;
}

.main {
  background: rgb(174, 167, 167);
  grid-area: main;
  display: flex;
}

.maincontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
  margin-left: 90px;
  margin-right: 60px;
}
.main button {
  box-shadow: 0px 1px rgb(133, 127, 127);
}
.lorem {
  grid-area: loremipsum;
  background: rgb(174, 167, 167);
  display: flex;
}
.loremcontent {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-right: 90px;
  margin-left: 30px;
}

.about {
  background: orange;
  grid-area: about;
  display: flex;
}

.aboutcontent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: -100px;
  text-align: center;
}

.aboutcontent > h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.aboutcontent > p {
  color: rgb(85, 84, 84);
  font-size: 10px;
  line-height: 16px;
  margin-top: 10px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}
.piccontainer {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.piccontainerbackground {
  background: white;
  width: 180px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 13px;
}
.piccontainer p {
  font-family: "Fira Sans", sans-serif;
  color: darkgrey;
  font-size: 9px;
  margin-top: -5px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
  line-height: 14px;
}

.children {
  display: flex;
  flex-direction: column;
}

#childimagecontainer {
  display: flex;
  justify-content: center;
  height: 120px;
  border-radius: 5px;
  background: #c2deea;
  overflow: hidden;
  margin-top: -20px;
}

#childimagecontainer > img {
  /* gäller alla bilder under childimagecontainer*/
  width: 70px;
  margin-top: 10px;
  margin-bottom: -20px;
}

.justright {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

#adultimagecontainer {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 120px;
  background: orange;
  overflow: hidden;
  margin-top: -20px;
}

#adultimagecontainer > img {
  width: 70px;
  margin-top: 20px;
  margin-bottom: -170px;
}

.oldfart {
  display: flex;
  flex-direction: column;
}
#oldfartimagecontainer {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 120px;
  background: coral;
  overflow: hidden;
  margin-top: -20px;
}

#oldfartimagecontainer > img {
  width: 70px;
  margin-top: 20px;
  margin-bottom: -130px;
}

p {
  line-height: 20px;
  color: rgb(101, 101, 101);
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-top: 30px;
}

.howitworks {
  background: #c2deea;
  grid-area: box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.answerafew {
  background: white;
  grid-area: box1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.done > h4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.chooseaplan {
  background: rgb(222, 220, 220);
  grid-area: box2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.answersome {
  background: white;
  grid-area: box3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wait {
  background: coral;
  grid-area: box4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.done {
  background: white;
  grid-area: box5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h4 {
  font-size: 25px;
  color: rgb(179, 174, 174);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.buttonup {
  background: darkgrey;
  grid-area: buttonup;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.buttonup > p {
  color: rgb(55, 54, 54);
  font-size: 15px;
}
.extra {
  background: grey;
  grid-area: extra;
}
